.card {
    position: relative;
    margin-bottom: 32px;
    padding: 0 15px;
    background-clip: content-box;
    border-radius: 12px;
    cursor: pointer;
    &__link {
        position: absolute;
        left: 48px;
        top:256px;
        padding: 4px 20px;
        background-color: #fff;
        border-radius: 21px;
        font-family: 'Epilogue';
        font-weight: 400;
        font-size: 16px;
        color: #391400;
        text-align: center;
        line-height: 32px;
            @media screen and (max-width: 1040px) {
                left: 32px;
        }
    }
    &__name {
        position: absolute;
        left: 48px;
        bottom: 56px;
        font-family: 'Epilogue';
        font-weight: 800;
        font-size: 40px;
        color: #fff;
            @media screen and (max-width: 1040px) {
                left: 32px;
        }
    }
}
